* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.6s linear;
}
  
html {
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
}
  
body {
  background-color: black;
}
  
#root {
  width: 100%;
}
  
button {
  outline: none;
  border: none;
  background-color: transparent;
}

a {
  text-decoration: none;
}

input {
    outline: none;
    display: none;
}
select {
  cursor: pointer;
}

header {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

header > * {
  color: wheat;
}

.wrap {
  width: 100vw;
  max-width: 670px;
  height: auto;
  margin: 1rem auto 0;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.slider {
 height: 50rem;
 width: 100%;
 overflow: hidden;
 display: flex;
 flex-direction: column;
}
.slides {
 height: 100%;
 width: 100%;
 display: none;
 background-size: contain;
 background-position: center;
 background-repeat: no-repeat;
 animation-duration: 0.6s;
 animation-name: slidein-right;
}

.slide-1 {
  background-image: url(./images/mem-1.jpg);
}

.slide-2 {
  background-image: url(./images/mem-2.jpg);
}

.slide-3 {
  background-image: url(./images/mem-3.jpg);
}

.slide-4 {
  background-image: url(./images/mem-4.jpeg);
}

.slider-information {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.slide-descriptions {
  min-height: 50%;
  min-width: 50%;
  color: white;
  font-size: 2rem;
  position: relative;
}

.slide-descriptions__description {
  display: none;
  animation-duration: 1s;
  animation-name: slidein-down;
}

.control > label {
 cursor: pointer;
 display: inline-block;
 height: 8px;
 margin: 10px;
 position: relative;
 width: 8px;
 border-radius: 20%;
}

.control > label:hover {
  background: blue;
  opacity: 0.3;
}

.control > label:active {
  height: 20px;
}

.control > label::after {
 border: 2px solid rgb(247, 243, 24);
 content: " ";
 display: block;
 height: 12px;
 left: -4px;
 position: absolute;
 top: -4px;
 width: 12px;
 border-radius: 20%;
}

#slide-point-1:checked ~ .slider > .slides:nth-child(1),
#slide-point-2:checked ~ .slider > .slides:nth-child(2),
#slide-point-3:checked ~ .slider > .slides:nth-child(3),
#slide-point-4:checked ~ .slider > .slides:nth-child(4),
#slide-point-1:checked ~ .slider-information .slide-descriptions > .slide-descriptions__description:nth-child(1),
#slide-point-2:checked ~ .slider-information .slide-descriptions > .slide-descriptions__description:nth-child(2),
#slide-point-3:checked ~ .slider-information .slide-descriptions > .slide-descriptions__description:nth-child(3),
#slide-point-4:checked ~ .slider-information .slide-descriptions > .slide-descriptions__description:nth-child(4) {
  display: block;
}

#slide-point-1:checked ~ .slider-information .control > label:nth-child(1)::after,
#slide-point-2:checked ~ .slider-information .control > label:nth-child(2)::after,
#slide-point-3:checked ~ .slider-information .control > label:nth-child(3)::after,
#slide-point-4:checked ~ .slider-information .control > label:nth-child(4)::after {
  border: 2px solid rgb(255, 255, 255);
  background: rgb(240, 240, 240);
}

@media (max-width: 700px) {
  .slider {
    height: 70vw;
  }

  .slide-descriptions {
    font-size: 1.5rem;;
  }
}

@media (max-width: 400px) {
  .slider-information {
    flex-direction: column-reverse;
    row-gap: 1.5rem;;
  }

  .control {
    align-self: center;
  }

}


@keyframes slidein-right {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes slidein-down {
  from {
    margin-top: -50%;
  }

  25% {
    color:rgb(247, 243, 24);
  }

  to {
    margin-top: 0%;
  }
}